/*Hacemos que el menu adopte la posición más arriba posible*/
.menu{
    position: absolute;
    top:0;
    height: 200vh; /* viewport height, usa el 100% de la altura de la pantalla*/
    width: 190vw;  /* viewport width 90% del an*/
    transition: 0.5s ease-out
}

.menu_closed{
    left: -100vw;
}

.menu_open{
    left: 0;
}

.close_button{ /* configurando boton de cierre del navbar*/
    font-size: 40px;
    color: white;
    position: absolute;
    right: 10px;                   
}

.menu_content{
    padding: 20px;
    margin-top: 40px;
    font-size: 35px;
}
#barra{
    height: 100px;
}

.navbar-toggler{
    width: 90px;
    height: 100px;
}

@media(min-width: 768px){ /* esta medida se encuentra en bootstrap-> overview-> responsive breakpoints */
    .menu{
        width: 40vw; /*El menú va a tomar este ancho con pantallas de 768px hacia arriba*/
    }

    .menu_closed{
        left:-40vw;
    }
}
@media(max-width: 768px){ /* esta medida se encuentra en bootstrap-> overview-> responsive breakpoints */
    .menu{
        width: 40vw; /*El menú va a tomar este ancho con pantallas de 768px hacia arriba*/
    }

    .menu_closed{
        left:-40vw;
    }
}
