body{
    background-color: lightgray;
}
/*Hacemos que el menu adopte la posición más arriba posible*/
.menu{
    position: absolute;
    top:0;
    height: 100vh; /* viewport height, usa el 100% de la altura de la pantalla*/
    width: 90vw;  /* viewport width 90% del an*/
    transition: 0.5s ease-out;  
}

.menu_closed{
    left: -100vw;
}

.menu_open{
    left: 0;
}

.close_button{ 
    font-size: 50px;
    color: white;
    position: absolute;
    right: 10px;                   
}

.menu_content{
    padding: 20px;
    margin-top: 40px;
    font-size: 35px;
}
#barra{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

#logout{
height: 90px;
width: 90px;
margin-top:5px;
margin-right: 5px;
}

.navbar-toggler{
    width: 90px;
    height: 100px;
}

@media(min-width: 576px){ /* esta medida se encuentra en bootstrap-> overview-> responsive breakpoints */
    .menu{
        width: 550px; /*El menú va a tomar este ancho con pantallas de 768px hacia arriba*/
    }

    .menu_closed{
        left:-550px;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
    color: white;
  }
  
  .flex-container > div{
    background-color: orange;
    width: 90%;
    margin: 30px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    cursor: pointer;
  }

