.container-1{
    display:flex;
    flex-direction: column;
}

.divImg {
    width: 100%;
    margin: 0;
    padding: 0;
}

.box2 {
    text-align: center; 
}

.box2 > div{
    background-color: white;
    width: 90%;
    align-content: center;
}

.box2 div{
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
}

#emailP {
    background-color: #bfbfbf;
}


.box1 > div{
    background-color: orange;
    width: 90%;
    align-content: center;
}

.box1 div{
    margin-left: 0px;
    height: 150px;
    width: 100%;
    text-align: center;
}

img {
    border-radius: 50%;
    margin-top: 25px;
}

.box3 {
display: flex;
justify-content: center;
margin-top: 20px;
}
.box3 > div{
    align-content: center;
}

#numeroTarjeta{
    width: 90%;
    text-align: center;
}

#btn-agregar{ 
    width: 90%;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    align-self: center;
}

.box4 > div{
    background-color: white;
    width: 90%;
}


.box4 {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;  
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#otrasTarjetas p {
    margin: 8px;
    border-bottom: #333 dashed 1px;
}

#numeroTarjeta, #btn-agregar {
    width: 40%;
}

@media  (max-width: 480px){
    #numeroTarjeta, #btn-agregar, .box4 {
    width: 80%;
    }
}

